<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 进行资源文件的读取操作配置 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">	<!-- 所有资源文件的名称 -->
			<array>
				<value>org.shift.config.pages</value>
				<value>org.shift.config.messages</value>
				<value>org.shift.config.validations</value>
			</array>
		</property>
	</bean>
	<!-- 进行上传的bean的配置 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 定义上传文件的大小控制 -->
		<property name="maxUploadSize" value="5242880" />
		<!-- 每一次上传文件可以占用的内存大小 -->
		<property name="maxInMemorySize" value="409600" />
	</bean>
	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<!-- 针对于每一个异常进行跳转的映射操作 -->
		<property name="exceptionMappings">
			<props>
				<!-- 超过了上传大小限制的错误页面，此时依然可以使用InternalResourceViewResolver类配置 -->
				<prop
					key="org.springframework.web.multipart.MaxUploadSizeExceededException">
					errors
				</prop>
			</props>
		</property>
	</bean>

	<context:component-scan base-package="org.shift." />
	<!-- 启用Annotation注解模式来进行SpringMVC的配置 -->
	<mvc:annotation-driven />
	<!-- 表示启用Servlet来处理请求 -->
	<mvc:default-servlet-handler />
	<!-- 进行静态资源的映射访问 -->
	<mvc:resources location="/WEB-INF/js/" mapping="/js/**" />
	<mvc:resources location="/WEB-INF/images/" mapping="/images/**" />
	<!-- 定义一个可以进行WEB-INF下页面的访问处理的信息配置 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>
